@font-face {
  font-family: "mukta";
  src: url("../assets/fonts/Mukta-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mukta";
  src: url("../assets/fonts/Mukta-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "mukta";
  src: url("../assets/fonts/Mukta-Bold.ttf");
  font-weight: lighter;
  font-style: lighter;
}
