@mixin padding-text-mobile {
  padding: 0 10%;
}

@mixin padding-text-desktop {
  padding: 0 15%;
}

@mixin card {
  border: 1px solid $secondary-font-color;
  background-color: $secondary-background-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 260px;
  height: 400px;
  box-shadow: 5px 2px 20px $secondary-font-color;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: 720px) {
    width: 400px;
    height: 200px;
  }
}

@mixin task {
  width: 50px;
  height: 50px;
  background-color: $primary-background-color;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;

  @media (min-width: 720px) {
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
  }
}

@mixin launchpad {
  width: 50px;
  height: 50px;
  background-color: $secondary-background-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  position: relative;

  @media (min-width: 720px) {
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
  }
}
