* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

@import "./reset.scss";

@import "./mixin-keyframe.scss";
@import "./variables.scss";
@import "./workspace-editing.scss";

// GENERAL SET-UP
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "mukta";
}
