//COLORS
$primary-font-color: #11182e;
$secondary-font-color: rgba(17, 24, 46, 0.75);
$primary-background-color: #fbfbfb;
$secondary-color: #8eafac;

//FONTS FAMILIES
$title-font-family: "signika";
$text-font-family: "open-sans";
