//COLORS
$primary-color: #072244; //font / header / cta
$secondary-font-color: #4a4a4a;
$primary-background-color: #d8d8d8; //main background
$secondary-background-color: #ffffff; //card background
$secondary-color: #24a0fb;
$opacity-layout: rgba(0, 0, 0, 0.4);
