/**************** HEADER **************/

header {
  @include padding-text-mobile;

  height: 60px;
  padding: 20px 0;

  @media (min-width: 720px) {
    @include padding-text-desktop;

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

.workspace__edward img {
  display: none;
  justify-content: center;
  width: 80%;

  @media (min-width: 720px) {
    display: flex;
  }
}

.workspace__user {
  display: flex;
}

.workspace__user-name {
  padding-right: 10px;
}

.workspace__user-pic {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $secondary-font-color;
}

/******************************************/
/**************** SUB-HEADER **************/
/******************************************/

.workspace__sub-header {
  @include padding-text-mobile;

  background-color: $primary-color;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-background-color;

  @media (min-width: 720px) {
    @include padding-text-desktop;
    justify-content: space-between;
  }
}

.workspace__sub-header-infos {
  display: flex;
}

.workspace__sub-header-logo {
  background-color: $secondary-color;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;

  p {
    color: $secondary-background-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.workspace__sub-header-company {
  display: none;
  padding-left: 10px;

  @media (min-width: 720px) {
    display: flex;
    transform: translateY(25%);
  }
}

.workspace__sub-header-menu {
  display: flex;

  @media (min-width: 720px) {
    justify-content: space-between;
    width: 35%;
    align-items: center;
  }
}

.workspace__sub-header-info {
  display: none;

  @media (min-width: 720px) {
    display: flex;
  }
}

.workspace__sub-header-workspaces {
  align-items: center;
  display: flex;
  align-content: center;
}

.workspace__sub-header-workspaces-text {
  align-items: center;
  padding-right: 10px;

  @media (min-width: 720px) {
    padding-right: 30px;
  }
}

.workspace__sub-header-workspaces-arrow img {
  width: 80%;
  height: 80%;
}

/******************************************/
/****************** MAIN ******************/
/******************************************/

.workspace__main {
  @include padding-text-mobile;

  background-color: $primary-background-color;
  width: 100vw;

  @media (min-width: 720px) {
    @include padding-text-desktop;
    height: 85vh;
    padding-top: 15px;
  }
}

/****************************************************/
/******************* EDITING-TITLE ******************/
/****************************************************/

.workspace__editing-title {
  display: none;
  @media (min-width: 720px) {
    display: block;
    opacity: 0.15;
  }
}

.workspace__main-infos {
  display: flex;
}

.workspace__main-logo {
  background-color: $secondary-color;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;

  p {
    color: $secondary-background-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.workspace__main-company {
  display: none;
  padding: 10px;

  @media (min-width: 720px) {
    display: flex;
    margin: auto 0;
  }
}

.workspace__main-company:after {
  content: "";
  display: inline-block;
  width: 55vw;
  margin: auto;
  border-top: 1px solid $secondary-font-color;
}

.workspace__main-edit-icon {
  width: 30px;
}

/****************************************************/
/*********************** CARDS **********************/
/****************************************************/

.workspace__cards {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  flex-wrap: wrap;

  @media (min-width: 1144px) {
    justify-content: space-between;
  }
}

.workspace__card {
  @include card;
}

.workspace__card-upper-part {
  display: flex;
  padding: 10px 20px;
}

.workspace__card-logo {
  background-color: $secondary-color;
  border: solid 1px $primary-color;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  position: relative;

  p {
    color: $secondary-background-color;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.workspace__card-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.workspace__card-title {
  font-weight: bold;
  color: $primary-color;
}

.workspace__card-date {
  color: $secondary-font-color;
}

.workspace__card-collaborators {
  font-weight: bold;
  color: $primary-color;
}

.workspace__card-dots {
  position: absolute;
  top: 5%;
  right: 5%;

  @media (min-width: 720px) {
    top: 15%;
    right: 5%;
  }
}

hr {
  display: block;
  clear: both;
  line-height: 1;
  color: $secondary-font-color;
  width: 100%;
}

.workspace__card-lower-part {
  padding: 20px;
}

.workspace__card-squares {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @media (min-width: 720px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.workspace__card-task {
  @include task;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.workspace__card-launchpad {
  @include launchpad;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

/****************************************************/
/************************ ADD ***********************/
/****************************************************/

.workspace__add {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $primary-color;
  margin: auto;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: 720px) {
    float: right;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/****************************************************/
/*********************** FOOTER *********************/
/****************************************************/

footer {
  @include padding-text-mobile;

  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (min-width: 720px) {
    @include padding-text-desktop;
    float: right;
  }
}

.workspace__language {
  display: flex;
  align-items: center;
}

.workspace__help {
  display: flex;
  align-items: center;

  p {
    font-size: 12px;
  }
}
